<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="card border-primary">
                <div class="card-header bg-primary text-white ">
                    Transcation
                </div>


                <div class="card-body">
                    <div class="container">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>Account Number</th>
                                    <th>Deposit</th>
                                    <th>Withdraw</th>
                                    <th>Balance Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of specficusertransaction">
                                    <td>{{data.id}}</td>
                                    <td>{{data.deposit}}</td>
                                    <td>{{data.withdraw}}</td>
                                    <td>{{data.balance_amount}}</td>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">Created by vs 2020</div>
                </div>
            </div>
        </div>
    </div>