<footer class="page-footer font-small  pt-8">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase">Banking System</h5>
                <p>It is simple banking system .You can create account & you can create a user.</p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a routerLink='/home'>Home</a>
                    </li>
                    <li>
                        <a routerLink='/myprofile'>My Pofile</a>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a routerLink="mytranscation">My Transcation</a>
                    </li>

                </ul>

            </div>

        </div>

    </div>

    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a routerLink="/home"> Banking system</a>
    </div>
</footer>